# Игнорировать временные файлы и каталоги
.idea/
cmake-build-debug/
cmake-build-release/

# Игнорировать файлы сборки
CMakeFiles/
CMakeScripts/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
cmake_files

# Игнорировать файлы компилятора
*.o
*.obj
*.exe
*.out
TATLIN
main

# Игнорировать файлы с настройками пользователя
*.iml
*.ipr
*.iws
*.ids
*.orig
*.log
*.tmp
*.bak

# Игнорировать файлы сборки Visual Studio
.vs/
.vscode/

# Игнорировать файлы bash
*.sh

# Игнорировать прочее
files